.vscode/**
.vscode-test/**
src/**
.gitignore
.prettierrc.json
.prettierignore
.eslintrc.json
tsconfig.json
tsconfig.webview.json
vitest.config.ts
esbuild.js
rollup.config.js
node_modules/**
**/*.test.ts
**/*.map
.kiro/**
